{% extends "basic_app/base.html" %}
{% block body_block%}
{% load static%}
<h1 class="mt-1">Statistics</h1>
<div class="row mt-4">
  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">

      {% for tale in items %}
      <a class="list-group-item list-group-item-action active" id="list-{{tale.0.id}}-list" data-toggle="list" href="#list-tale-{{tale.0.id}}" role="tab" aria-controls="home">{{tale.0.name}}</a>
      {% endfor%}
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      {% for tale in items %}
      <div class="tab-pane fade show active" id="list-tale-{{tale.0.id}}" role="tabpanel" aria-labelledby="list-home-list">

        <div class="row mt-4">
          <div class="col-4">
            <div class="list-group" id="list-tab_n" role="tablist">

              {% for session in items.1 %}
              <a class="list-group-item list-group-item-action active" id="list-session-{{session.id}}-list" data-toggle="list-session-{{session.id}}" href="#list-home_n" role="tab" aria-controls="home">{{session.id}}</a>
              {% endfor%}


            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tab_nContent">
              {% for session in items.1 %}
              <div class="tab-pane fade show active" id="list-session-{{session.id}}" role="tabpanel" aria-labelledby="list-home-list">{{session.image.url}}

              {% endfor%}
            </div>
              {% endfor%}
          </div>
        </div>
      </div>
    </div>
      {% endfor%}
  </div>
  </div>
</div>

{% endblock %}