<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.order }}</title>
    <script src="{% static 'jQuery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'jQuery/jquery-ui.js' %}"></script>
    <script src="{% static 'jQuery/popper.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'Bootstrap/js/bootstrap.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/jquery.dataTables.min.css' %}" />
    <script src="{% static 'DataTables/jquery.dataTables.min.js' %}"></script>
    <link href="{% static "icons/css/all.css" %}" rel="stylesheet">
    <script defer src="{% static 'icons/js/all.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/override.css" %}">
</head>
<body>
    <div class="text-center">
        <video autoplay id="myVideo" >
            <source src="{{ item.mp4.url }}" type="video/mp4">
        </video>
    </div>

</body>
</html>

{{ next_content_url|json_script:"next_content_url" }}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src = "{% static 'js/contentswitch.js' %}"></script>