{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
<style>
  .smallbox {width:250px;  float: right;  overflow: auto;}
  .clearfix {
    overflow: auto;

  }
  .right{float: right;}
  .left{float: left;}
  .rounded5{border-radius: 5px;}
</style>

  <div class="container">




  </div>





<div class="jumbotron clearfix mt-4">

  {% if registered %}
  <div>
    <h1>Thank you for registering!</h1>
  </div>
  {% else %}
  <div>
    <h1>Register Here!</h1>
    <p class="lead">Please fill out the form! </p>
  </div>
  <div class="left">
    <img src="{% static 'pictures/children.jpg'%}" width="700" height="400" class="rounded5" alt="">

  </div>

  <div class="smallbox mr-5">
    <h1 class="mb-2">Register</h1>
    <form action="{% url 'userhandler_app:user_login' %}" method="POST">
      {% csrf_token %}
      <div class="form-group mt-3" >
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input class="btn btn-success" type="submit" name="" value="Register">
          <a class="btn btn-dark" href="{% url 'children_app:child' %}">Back To Sign In</a>



        </form>
      </div>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}